@import url('https://fonts.googleapis.com/css2?family=Acme&family=Patrick+Hand&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main, .header, .iframe__footer{
    background-color: #f0f0f7;
}
.main {
    border-top: 0.4px solid #030303;
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    justify-content: center;
}
.section__first{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 45px;
    gap: 30px;
    justify-content: center;
    margin-right: 20px;
    padding: 20px;
    width: 800px;
}
.section__second{
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    padding: 20px;
}
.section__h1, .section__h3, .section__first--a, .p{
    color: #000000;
    font-family: 'Acme', sans-serif;
    font-weight: 400;
}
.section__first--a:hover{
    color: #524d73;
}
.section__h1{
    font-size: 30px;
}
.section__h3{
    font-size: 20px;
}
.p{
    font-size: 15px;
}
.section__second--div{
    padding: 10px;
}
.img{
    height: 80px;
}
.iframe__footer{
    bottom: 0;
    height: 100px;
    position: relative;
    width: 100%;
}
@media (max-width: 650px){
    .main{
        flex-direction: column-reverse;
    }
    .section__first{
        margin: 0;
        width: auto;
    }
    .section__second{
        margin: auto;       
    }
    .section__second--div{
        border-bottom: 0.1px solid #030303;
    }
    .p {
        font-size: 13px;
    }
}
@media (max-width: 367px){
    .img{
        height: 50px;
    }
    .section__first{
        font-size: 30px;
    }
}