@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     text-decoration: none;
 }

 p, .main__h1, .main__h3{
     font-family: 'Sarala', sans-serif;
     font-weight: 400;
 }

 .iframe__header{
     height: 100px;
     position: relative;
     width: 100%;
 }

 .main {
     background-image: url(../index/foto_praia.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     border-top: 0.4px solid #030303;
     display: flex;
     flex-direction: row-reverse;
     height: 450px;
     position: sticky;
 }

 .main__div {
     align-items: center;
     display: flex;
     flex-direction: column;
     float: right;
     gap: 32px;
     height: 420px;
     justify-content: center;
     padding: 25px;
     width: 750px;
 }

 .main__h1{
     font-size: 30px;
 }

 .main__h3{
     font-size: 18px;
 }

 .iframe__footer{
     bottom: 0;
     height: 100px;
     position: relative;
     width: 100%;
 }