@import url('https://fonts.googleapis.com/css2?family=Acme&family=Patrick+Hand&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.container, .header, .iframe__footer{
    background-color: #f0f0f7;
}
.h1, .h5{
    font-family: 'Acme', sans-serif;
    font-weight: 400;
    margin: 10px;
}
.h1{
    font-size: 30px; 
}
.h5{
    font-size: 17px; 
}
.container{
    border-top: 0.4px solid #030303;
    display: flex;
    width: 100%;
}
img{
    border-radius: 10px;
}
.container__gallery{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 600px;
    opacity: 0.9;
}
.gallery{
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    width: 100%;
}
.gallery input{
    display: none;
}
.gallery > img:first-of-type{
    display: flex;
    left: 0;
    position: relative;
    top: 0;
    z-index: 10;
}
.galleryImage{
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: opacity 0.25s ease-out;
    width: 100%;
}
.thumbnails{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 16%;
    justify-content: flex-start;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}
.thumbnailImage{
    cursor: pointer;
    margin: 0 5px;
}
.thumbnailImage img{
    height: 90px;
    object-fit: cover;
    width: 100%;
}
.thumbnailImage:first-child{
    margin-left: 0;
}
.thumbnailImage:last-child{
    margin-right: 0;
}
#c1:checked + #i1{
    opacity: 1;
}
#c2:checked + #i2{
    opacity: 1;
}
#c3:checked + #i3{
    opacity: 1;
}
#c5:checked + #i5{
    opacity: 1;
}
#c6:checked + #i6{
    opacity: 1;
}
#c7:checked + #i7{
    opacity: 1;
}
#c8:checked + #i8{
    opacity: 1;
}
#c10:checked + #i10{
    opacity: 1;
}
#c11:checked + #i11{
    opacity: 1;
}
#c12:checked + #i12{
    opacity: 1;
}
#c13:checked + #i13{
    opacity: 1;
}
#c14:checked + #i14{
    opacity: 1;
}
#c15:checked + #i15{
    opacity: 1;
}
#c16:checked + #i16{
    opacity: 1;
}
#c17:checked + #i17{
    opacity: 1;
}
.iframe__footer{
    bottom: 0;
    height: 100px;
    position: relative;
    width: 100%;
}
@media (max-width: 516px){
    .h1{
        font-size: 24px;
    }
    .h5{
        font-size: 14px;
    }  
    .container__gallery{
        margin: 0;
        width: 100%;
        z-index: 0;
    }
}
@media (max-width: 453px){
    nav ul{
        z-index: 1;
    } 
}