@import url('https://fonts.googleapis.com/css2?family=Acme&family=Patrick+Hand&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main, .header, .iframe__footer{
    background-color: #f0f0f7;
}
.main {
    border-top: 0.4px solid #030303;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    height: auto;
    justify-content: center;
    width: 100%;
}
.main__h1, .title, .button{
    font-family: 'Acme', sans-serif;
    font-weight: 400;
}
.section__first{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    width: 100%;
}
.main__h1{
    font-size: 30px;
    margin: 15px;
}
.video{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.video__iframe{
    border-radius: 25px;
    padding: 10px;
}
.section__second{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 25px;
    width: 100%;
}
.video__list{
    display: flex;
    gap: 35px;
}
.button{
    background-color: #524d73;
    border-radius: 12px;
    border: none;
    box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.5);
    color: #c4c1d9;
    cursor: pointer;
    font-size: 17px;
    height: 30px;
    width: 90px;
}
.button:active{
    background-color: #484464;
    box-shadow: none;
    font-size: 16px;
}
.iframe{
    display: none;
}
.iframe__footer{
    bottom: 0;
    height: 100px;
    position: relative;
    width: 100%;
}
@media (max-width: 577px){
    .video__iframe{
         max-width: 400px;
         max-height: 300px;
    }
    .video__list{
        flex-wrap: wrap;
        justify-content: center;
    }
    .button{
        font-size: 12px;
        height: 20px;
        width: 60px;
    }
    .button:active{
        font-size: 11px;
    }
    .section__second{
        padding: 28px;
    }
}
@media (max-width: 420px){
    .video__iframe{
         max-width: 300px;
         max-height: 250px;
    }
    .main__h1{
        font-size: 22px;
    }
}
@media (max-width: 318px){
    .video__iframe{
         max-width: 240px;
         max-height: 200px;
    }
    .main__h1{
        font-size: 16px;
    }
}