@import url('https://fonts.googleapis.com/css2?family=Acme&family=Patrick+Hand&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body{
    height: 100%;
}
.header, .main, .iframe__footer, .container{
    background-color: #f0f0f7;
}
.header__a {
    color: #030303;
    margin-left: 50px;
}
.main {
    border-top: 0.4px solid #030303;
    display: flex;
    height: 180px;
    justify-content: center;
    margin: auto;
    width: 100%;
}
/* controla a opacidade da imagem */ 
.main::before {
    background-image: url(../peixe.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: flex;
    height: 280px;
    margin-left: 50px;
    opacity: 0.1;
    position: absolute;
    width: 90%;
}
.main__div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 200px;
    padding: 20px;
    width: 100%;
}
.h1, .p{
    font-family: 'Acme', sans-serif;
    font-weight: 400;
}
.section__h1{
    font-size: 30px;
}
.p{
    font-size: 15px;
}
img{
    border-radius: 10px;
}
.container__gallery{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    position: relative;
}
.gallery{
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    width: 100%;
}
.gallery input{
    display: none;
}
.gallery > img:first-of-type{
    display: flex;
    left: 0;
    position: relative;
    top: 0;
    z-index: 10;
}
.galleryImage{
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: opacity 0.25s ease-out;
    width: 100%;
}
.thumbnails{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 16%;
    justify-content: flex-start;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}
.thumbnailImage{
    cursor: pointer;
    margin: 0 5px;
}
.thumbnailImage img{
    height: 90px;
    object-fit: cover;
    width: 100%;
}
.thumbnailImage:first-child{
    margin-left: 0;
}
.thumbnailImage:last-child{
    margin-right: 0;
}
#c1:checked + #i1{
    opacity: 1;
}
#c2:checked + #i2{
    opacity: 1;
}
#c3:checked + #i3{
    opacity: 1;
}
#c4:checked + #i4{
    opacity: 1;
}
#c5:checked + #i5{
    opacity: 1;
}
#c6:checked + #i6{
    opacity: 1;
}
#c7:checked + #i7{
    opacity: 1;
}
#c8:checked + #i8{
    opacity: 1;
}
#c9:checked + #i9{
    opacity: 1;
}
#c10:checked + #i10{
    opacity: 1;
}
.iframe__footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}
@media (max-width: 367px){
    .main::before {
        margin: 0px;
    }
    .main {
        height: 230px;
    }
    .thumbnailImage img{
        height: 50px;
    }
}