@import url('https://fonts.googleapis.com/css2?family=Acme&family=Patrick+Hand&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body{
    height: 100%;
}
.header, .main, .iframe__footer{
    background-color: #f0f0f7;
}
.header__a {
    color: #030303;
    margin-left: 50px;
}
.main {
    border-top: 0.4px solid #030303;
    display: flex;
    margin: auto;
    min-height: 100%;
    opacity: 0.9;
    width: 100%;
}
/* controla a opacidade da imagem */ 
.main::before {
    background-image: url(../alerta.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: flex;
    margin-left: 50px;
    min-height: 320px;
    opacity: 0.1;
    position: absolute;
    width: 90%;
}
.main__div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px;
    opacity: 0.9;
    width: 100%;
}
.h1, .p{
    font-family: 'Acme', sans-serif;
    font-weight: 400;
}
.section__h1{
    font-size: 30px;
}
.p{
    font-size: 18px;
}
.iframe__footer{
    bottom: 0;
    height: 100px;
    position: relative;
    width: 100%;
}
@media (max-width: 367px){
    .main{
        height: 520px;
    }
    .main::before {
        margin: 0px;
    }
    .p{
        font-size: 15px;
    }
}